name: wellness_monorepo
description: Wellness app monorepo managed by Melos
version: 1.0.0+1
publish_to: "none"

environment:
  sdk: ^3.9.0

workspace:
  - apps/wellness_mobile
  - packages/authentication
  - packages/post
  - packages/firebase
  - packages/router
  - packages/common_dependencies

dev_dependencies:
  melos: ^7.3.0

melos:
  scripts:
    analyze:
      run: melos exec -- "flutter analyze"
      description: Run `flutter analyze` in all packages.

    test:
      run: melos exec -- "flutter test"
      description: Run `flutter test` in all packages.

    format:
      run: melos exec -- "dart format ."
      description: Format all Dart files.

    generate:
      run: melos exec -c 1 --depends-on="build_runner" -- "dart run build_runner build --delete-conflicting-outputs"
      description: Run `build_runner build` in all packages that have build_runner as a dependency.

    generate_only:
      run: dart run build_runner build --delete-conflicting-outputs
      description: "Run `build_runner build` in specific packages"
      packageFilters:
        flutter: true

    generate_post:
      run: melos exec -c 1 --scope="post" --depends-on="build_runner" -- "dart run build_runner build --delete-conflicting-outputs"
      description: "Run `build_runner build` in the post package only"
